body{
    background-image: url("./Assets/Background.png");
    background-size:100%;
    font-family: 'Montserrat';
    font-display:white;
}

.navbar{
    font-size: 2.5em;
    color: white;
    background-color:rgba(255, 255, 255, 0.236);
    height: 1.5em;
    text-align: left;
    margin-top: 1em;
    
}

.navspan{
    margin-left: 2.5em;
    display: flex;
    justify-items: flex-start;
}

.navbar a{
    text-decoration: none;
    color: white;
    padding-right: 0.7em;
    font-family: 'Montserrat SemiBold';
    margin-left: 0.4em;
    margin-right: 0.3em;
}

.hm a{
    color: red;
}

.main-container{
    font-family: 'Montserrat Medium';
    text-align: right;
    color:white;
    font-size:2em;
   width: fit-content;
   height: fit-content;
   margin-right:2.5em;
   margin-left:auto;
   margin-top:7em;
}

.main-logo{
    background-image:url("./Assets/tedxmain.png");
    height:4em;
    width:25.3em;
}

.tagline{
    font-family: 'Montserrat SemiBold';
    padding: 1em 0em 1em 0em;
    width: fit-content;
    height: fit-content;
    margin-right: 0;
    margin-left: auto;
}

.button{
    font-family: 'Montserrat SemiBold';
    padding:0.7em;
    border-style: solid;
    border-radius: 1em;
    height:fit-content;
    width:fit-content;
    margin-right: 0;
    margin-left: auto;
    color: white;
}

:link{
    text-decoration: none;
    color: white;
}