body{
    background-image: url("./Assets/Background.png");
    background-size:100%;
    font-family: 'Montserrat';
    font-display:white;
}

.navbar{
    font-size: 1.7em;
    color: white;
    background-color:rgba(255, 255, 255, 0.236);
    height: 2em;
    text-align: left;
    margin-top: 1em;
    
}

.navspan{
    margin-left: 2em;
    display: flex;
    justify-items: flex-start;
    padding-top:0.3em;
}

.navbar a{
    text-decoration: none;
    color: white;
    padding-right: 0.7em;
    font-family: 'Montserrat SemiBold';
    margin-left: 0.4em;
    margin-right: 0.3em;
}

.hm a{
    color: red;
    font-weight: 900;
}

.main-container{
    font-family: 'Montserrat Medium';
    text-align: right;
    color:white;
    font-size:1.7em;
   width: fit-content;
   height: fit-content;
   margin-right:3em;
   margin-left:auto;
   margin-top:8em;
}

.main-logo{
    background-image:url("./Assets/tedxmain.png");
    height:4.8em;
    width:29.5em;
}

.tagline{
    font-family: 'Montserrat SemiBold';
    padding: 1em 0em 1em 0em;
    width: fit-content;
    height: fit-content;
    margin-right: 0;
    margin-left: auto;
}

.button{
    font-family: 'Montserrat SemiBold';
    padding:0.7em;
    border-style: solid;
    border-radius: 0.7em;
    height:fit-content;
    width:fit-content;
    margin-right: 0;
    margin-left: auto;
    color: white;
}

:link{
    text-decoration: none;
    color: white;
}

.footer{
    background-color: rgba(255, 255, 255, 0.235);
    font-family: 'Montserrat';
    color:white;
    position:fixed;
    width:100%;
    bottom:0; 
}

.footer-span{
    display: flex;
    justify-content:center;
    text-align: center;
}

.clg-logo{
    height: auto;
    width:auto;
    left:0;
    margin-left:2em;
    margin-right:auto;
}
.img-logo{
    height:3em;
    width:2.5em;
}

.footer-text{
    display:flex;
}

.footer-text p{
    text-align: center;
    padding: 0em .5em;
    font-size:1em;
}

.fcopy{
    font-weight:450;
}
.finfo{
    font-weight: bolder;
}

.social-icons{
    right:0;
    padding:0.5em;
    margin-right:0;
    margin-left: auto;
    width: fit-content;
    text-decoration: none;
}

.social-icons a{
    text-decoration: none;
    color: white;
    padding:0.7em;
}

